html {
    box-sizing: border-box;
    background: url("oh-la-la.jpeg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }

  svg {
    fill: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 50%;
    width: 200px;
    margin-bottom: 50px;
}

.plates li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}

.plates label {
    flex: 1;
    cursor: pointer;
}